<div class='jumbotron'><h2>Hello from index</h2></div>
<ul>
<% @individuals.each do |ind|%>
   <li><%= ind.firstname %> <%=ind.lastname%> <%=ind.gradyear%><%= link_to "[Edit]", edit_individual_path(ind) %><%= link_to "[Delete]", ind, method: :delete %></li>
<% end %>
</ul>
<%= link_to "[NEW]", new_individual_path%>