<!DOCTYPE html>
<html>
<head>
  <title>SISteMATIC</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id='container'>
  <%= render :partial => 'navbar' %>
<% if notice || alert %>
  <%= render :partial => 'messages' %>
<%end%>
<%= yield %>
</div>
</body>
</html>
